.App {
  text-align: center;
  background-image: url(https://cdn.wallpapersafari.com/57/69/X0s3Dm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.nav span{
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
}

.header2 {
  text-align: center;
  background: url(alertify.png);
  background-size: 25rem;
  background-color:rgb(26,202,190);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);

}

.header {
  background-image: url(https://cdn.wallpapersafari.com/57/69/X0s3Dm.jpg);
  position: relative;
  top: 0;
  left: 0;
}


.button1 {
  font-size: 28px;
  padding: 10px 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(7, 175, 133, 0.904), 0 6px 20px 0 rgba(7, 175, 133, 0.904);
}

.button1:hover {
  background-color: rgba(7, 175, 133, 0.904);
  color: white;
}

.button2{
  font-size: 8px;
  padding: 10px 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(7, 175, 133, 0.904), 0 6px 20px 0 rgba(7, 175, 133, 0.904);
}

.button2:hover {
  background-color: rgba(7, 175, 133, 0.904);
  color: white;
}

.input {
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 6px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(7, 175, 133, 0.904), 0 6px 20px 0 rgba(7, 175, 133, 0.904);
}
.alert-container {
  background-color: rgba(43, 7, 175, 0.904);
  color: rgb(8, 6, 6);
  font-size: 16px;
  font-style: italic;
  padding: 5px 12px;
  border-radius: 2px;
}

.alert-button {
  background-color: rgba(7, 175, 133, 0.904);
  color: white;
  font-size: 12px;
  font-style: italic;
  padding: 10px 24px;
  border-radius: 6px;
}

.profile-button {
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 6px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(7, 175, 133, 0.904), 0 6px 20px 0 rgba(7, 175, 133, 0.904);
}

.profile-button:hover {
  background-color: rgba(7, 175, 133, 0.904);
  color: white;
}


.btn-primary {
  font-size: 12px;
  padding: 6px 18px;
  border-radius: 3px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0  rgba(7, 32, 175, 0.904), 0 6px 20px 0 rgba(7, 175, 133, 0.904);
}

.btn-primary:hover {
  background-color: rgba(57, 32, 199, 0.904);
  color: white;
}

.button-2 {
  font-size: 12px;  
  padding: 6px 18px;
  border-radius: 3px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(7, 32, 175, 0.904), 0 6px 20px 0 rgba(7, 175, 133, 0.904);
}

.button-2:hover {
  background-color: rgba(57, 32, 199, 0.904);
  color: white;
}